{% extends 'partials/base.html'%}
{%block title%}
Cards
{% endblock%}
{% block content%}
{%if messages%}
{%for message in messages%}
<div class="alert alert-warning">{{message}}<br></div>
{%endfor%}
{%endif%}
<div class="container">
<h1 class="pt-3 ps-3 d-flex justify-content-evenly">All the cards</h1>
  {% if user.is_staff%}
  <a href="{% url 'new_card' %}" class="btn btn-danger">Add a new card</a>
  {% endif%}
  <div class="row d-flex justify-content-evenly ">
{%for card in cards%}

<div class="card mt-3" style="width: 18rem;">
  <img src="{{card.image}}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{card.name.upper}} #{{card.card_id}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">rarity: {{card.rarity}}</li>
    {% if user.is_staff%}
    <li class="list-group-item"><a href="{% url 'delete_card' card.id%}">delete card</a></li>
    {% endif%}
  </ul>
</div>

{% endfor %}
</div>

</div>
{% endblock %}