{% extends 'partials/base.html'%}
{% load bootstrap5 %}
{% block content%}
<div class="container ">
    <h1 class="d-flex justify-content-center">{% if user.is_authenticated %} {{user.username}} {%endif%} Welcome to the Game Card</h1>
<br>
 {% if not user.is_authenticated %}
<h2 class="d-flex justify-content-center">If you want to play, you have to</h2>
<h2 class="d-flex justify-content-center"> <a href="{% url 'login'%}" class="btn btn-warning"> Login </a>  or  <a href="{% url 'signup'%}" class="btn btn-danger" > Signup </a> </h2>
{%endif%}
<div class="text-center mt-5">
<img class="img-fluid rounded mx-auto d-block" src="https://d3fa68hw0m2vcc.cloudfront.net/507/251047953.jpeg">
</div>
</div>
{% endblock %}