{% extends 'partials/base.html'%}
{%block title%}
Cards
{% endblock%}
{% block content%}
<div class="container">
<h1 class="pt-3 ps-3 d-flex justify-content-evenly">My Deck</h1>
  <div class="row d-flex justify-content-evenly ">
{%for object in user.profile.deck.card.all%}


<div class="card mt-3" style="width: 18rem;">
  <img src="{{object.image}}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{object.name.upper}} #{{object.card_id}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">rarity: {{object.rarity}}</li>
  </ul>
    <a href="{% url 'start_transaction' object.card_id %}" class="card-link d-flex flex-column btn btn-warning">Sell the card</a>
</div>

{% endfor %}
</div>

</div>
{% endblock %}